.board-row {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
  
  }
*{
  margin: 0;
  padding: 0;

}
  
.board-row{
  outline: none;
  /* border-left: none; */

}
  .tictac-board-container {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #969696
  }
  .tictac-board{
    padding: 130px 12px;
    width: 30vw;
    
  }
.square{
  /* border-left: none !important; */
  
}
#square-1{
  border: 2px solid black !important;
 border-left: none !important;
 border-top: none !important ;
}
#square-2{
  border: 2px solid black !important;

 border-left: none !important;
 border-top: none !important ;
 border-bottom: none !important;
}
#square-3{
  border: 2px solid black !important;

 border-left: none !important;
 border-top: none !important ;
 border-right: none !important;
}
#square-4{
  border: 2px solid black !important;

  border-right: none !important;
 border-left: none !important;
 border-top: none !important ;
}
#square-5{
  border: 2px solid black !important;
 
 }
#square-6{
  border: 2px solid black !important;

  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none  !important;
}
#square-7{
  border: 2px solid black !important;

  border-left: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}
#square-8{
  border: 2px solid black !important;

  border-bottom: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
}
#square-9{
  border: 2px solid black !important;

  border-bottom: none !important;
  border-right: none  !important;
}
#again{
  
  text-align: center !important;
  padding: 14px 60px;
  background-color:  darkgoldenrod;
  color:  white;
  margin-left: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 6px;
}
.tictacresult{
  color: white;
  font-weight: 600;
}
h4{
  margin-bottom: 43px ;
}